# Data Collection & Transformation

In [19]:
import pandas as pd
import json

### Concatenation of brut data

In [20]:
df_2015_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2015/2015S1_NB_FER.csv",delimiter=";")
df_2015_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2015/2015S2_NB_FER.csv",delimiter=";")
df_2015 = pd.concat([df_2015_S1, df_2015_S2], axis=0, ignore_index=True)
df_2015.to_csv("01-DATA-IDF-BRUT/data-rf-2015/df_2015.csv",index=False)

df_2016_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2016/2016S1_NB_FER.txt",sep=r"\t",engine="python")
df_2016_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2016/2016S2_NB_FER.txt",sep=r"\t",engine="python")
df_2016 = pd.concat([df_2016_S1, df_2016_S2], axis=0, ignore_index=True)
df_2016.to_csv("01-DATA-IDF-BRUT/data-rf-2016/df_2016.csv",index=False)

df_2017_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2017/2017S1_NB_FER.txt",sep=r"\t",engine="python")
df_2017_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2017/2017_S2_NB_FER.txt",sep=r"\t",engine="python")
df_2017 = pd.concat([df_2017_S1, df_2017_S2], axis=0, ignore_index=True)
df_2017.to_csv("01-DATA-IDF-BRUT/data-rf-2017/df_2017.csv",index=False)

df_2018_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2018/2018_S1_NB_FER.txt",sep=r"\t",engine="python")
df_2018_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2018/2018_S2_NB_FER.txt",sep=r"\t",engine="python")
df_2018 = pd.concat([df_2018_S1, df_2018_S2], axis=0, ignore_index=True)
df_2018.to_csv("01-DATA-IDF-BRUT/data-rf-2018/df_2018.csv",index=False)

df_2019_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2019/2019_S1_NB_FER.txt",sep=r"\t",engine="python")
df_2019_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2019/2019_S2_NB_FER.txt",sep=r"\t",engine="python")
df_2019 = pd.concat([df_2019_S1, df_2019_S2], axis=0, ignore_index=True)
df_2019.to_csv("01-DATA-IDF-BRUT/data-rf-2019/df_2019.csv",index=False)

df_2020_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2020/2020_S1_NB_FER.txt",sep=r"\t",engine="python")
df_2020_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2020/2020_S2_NB_FER.txt",sep=r"\t",engine="python")
df_2020 = pd.concat([df_2020_S1, df_2020_S2], axis=0, ignore_index=True)
df_2020.to_csv("01-DATA-IDF-BRUT/data-rf-2020/df_2020.csv",index=False)

df_2021_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2021/2021_S1_NB_FER.txt",sep=r"\t",engine="python")
df_2021_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2021/2021_S2_NB_FER.txt",sep=r"\t",engine="python")
df_2021 = pd.concat([df_2021_S1, df_2021_S2], axis=0, ignore_index=True)
df_2021.to_csv("01-DATA-IDF-BRUT/data-rf-2021/df_2021.csv",index=False)

df_2022_S1=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2022/2022_S1_NB_FER.txt",sep=r"\t",engine="python")
df_2022_S2=pd.read_csv("01-DATA-IDF-BRUT/data-rf-2022/2022_S2_NB_FER.txt",sep=";")
df_2022 = pd.concat([df_2022_S1, df_2022_S2], axis=0, ignore_index=True)
df_2022.to_csv("01-DATA-IDF-BRUT/data-rf-2022/df_2022.csv",index=False)

In [21]:
# Read the two CSV files into Pandas DataFrames
csv_2015 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2015/df_2015.csv')
csv_2016 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2016/df_2016.csv')
csv_2017 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2017/df_2017.csv')
csv_2018 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2018/df_2018.csv')
csv_2019 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2019/df_2019.csv')
csv_2020 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2020/df_2020.csv')
csv_2021 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2021/df_2021.csv')
csv_2022 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2022/df_2022.csv')

# Concatenate the DataFrames
data_concatenaited = pd.concat([csv_2015,csv_2016,csv_2017,csv_2018,csv_2019,csv_2020,csv_2021,csv_2022])

# Write the concatenated DataFrame to a new CSV file
data_concatenaited.to_csv('99-Data_Clean/data_concatenaited.csv', index=False)

/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3692898218.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_2017 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2017/df_2017.csv')
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3692898218.py:5: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_2018 = pd.read_csv('01-DATA-IDF-BRUT/data-rf-2018/df_2018.csv')

### Sites information

In [22]:
df_sites_jo =pd.read_csv("02-Sites-Stations-Calendar/paris-2024-sites-olympiques-et-paralympiques-franciliens.csv",delimiter=";")
df_sites_jo["nom"] = df_sites_jo["nom"].apply(lambda x: x.upper())
df_sites_jo = df_sites_jo.loc[:11,:]
df_sites_jo = df_sites_jo[df_sites_jo["nom"] != 'STADE YVES DU MANOIR']
df_sites_jo['Type'] = "Site olympique"
df_sites_jo = df_sites_jo[['nom', 'Type', 'geo_point', 'sports']]
df_sites_jo = df_sites_jo.rename(columns={"nom":"lieu", "sports":"activité"})
df_sites_jo['Infrastructure'] = "Existant"
df_sites_jo['Infrastructure'] = df_sites_jo['lieu'].apply(lambda x: "Temporaire" if x == "ARENA INVALIDES" or x == "STADE DE LA CONCORDE" or x == "ARENA CHAMP DE MARS" or x == "STADE TOUR EIFFEL" else "Existant")
df_sites_jo

,lieu,Type,geo_point,activité,Infrastructure
0,PARC DES PRINCES,Site olympique,"48.841319,2.253076",Football,Existant
1,STADE DE FRANCE,Site olympique,"48.924388,2.359871","Athlétisme, Para athlétisme, Rugby",Existant
2,GRAND PALAIS,Site olympique,"48.866041,2.312406","Escrime, Escrime fauteuil, Taekwondo, Para tae...",Existant
3,ARENA INVALIDES,Site olympique,"48.862286,2.313222","Tir à l'arc, Para tir à l'arc, Athlétisme, Cyc...",Temporaire
4,STADE DE LA CONCORDE,Site olympique,"48.865589,2.321205","Basketball 3x3, BMX freestyle, Breaking, Skate...",Temporaire
6,ARENA CHAMP DE MARS,Site olympique,"48.854536,2.300413","Judo, Para judo, Lutte, Rugby fauteuil",Temporaire
7,STADE TOUR EIFFEL,Site olympique,"48.857232,2.296084","Volleyball de plage, Cécifoot",Temporaire
8,ROLAND-GARROS,Site olympique,"48.84732,2.245501","Tennis, Tennis fauteuil, Boxe",Existant
9,ARENA PARIS SUD,Site olympique,"48.832068,2.284126","Volleyball, Boccia, Haltérophilie, Handball, G...",Existant
10,ARENA LA CHAPELLE,Site olympique,"48.899483,2.361803","Badminton, Para Badminton, Gymnastique rythmiq...",Existant
11,ARENA BERCY,Site olympique,"48.838649,2.378496","Basketball, Basket fauteuil, Gymnastique artis...",Existant

In [23]:
df_sites_jo.to_csv('99-Data_Clean/sites_jo.csv', index=False)

### JO event per day

In [25]:
df_event_in_jo =pd.read_csv("02-Sites-Stations-Calendar/paris-2024-sites-olympiques-et-paralympiques-franciliens.csv",delimiter=";")
df_event_in_jo["nom"] = df_event_in_jo["nom"].apply(lambda x: x.upper())
df_event_in_jo = df_event_in_jo.loc[:11,:]
df_event_in_jo.head()

,geo_point,nom,sites_olympiques_paralympiques,sports,capacite,station,Mercredi 24 Juillet 2024,Jeudi 25 Juillet 2024,Vendredi 26 Juillet 2024,Samedi 27 Juillet 2024,...,Vendredi 02 Ao�t 2024,Samedi 03 Ao�t 2024,Dimanche 04 Ao�t 2024,Lundi 05 Ao�t 2024,Mardi 06 Ao�t 2024,Mercredi 07 Ao�t 2024,Jeudi 08 Ao�t 2024,Vendredi 09 Ao�t 2024,Samedi 10 Ao�t 2024,Dimanche 11 Ao�t 2024
0,"48.841319,2.253076",PARC DES PRINCES,Site olympique,Football,47926.0,"[PORTE DE SAINT-CLOUD, PORTE D'AUTEUIL, BOULEV...",1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,"48.924388,2.359871",STADE DE FRANCE,Site olympique;Site paralympique,"Athlétisme, Para athlétisme, Rugby",77083.0,"[STADE DE FRANCE-SAINT-DENIS, LA PLAINE-STADE ...",1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,"48.866041,2.312406",GRAND PALAIS,Site olympique;Site paralympique,"Escrime, Escrime fauteuil, Taekwondo, Para tae...",8000.0,[FRANKLIN-D.ROOSEVELT],0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
3,"48.862286,2.313222",ARENA INVALIDES,Site olympique;Site paralympique,"Tir à l'arc, Para tir à l'arc, Athlétisme, Cyc...",8000.0,[INVALIDES],0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"48.865589,2.321205",STADE DE LA CONCORDE,Site olympique,"Basketball 3x3, BMX freestyle, Breaking, Skate...",30000.0,"[PALAIS ROYAL-MUSEE DU LOUVRE, MADELEINE, OPER...",0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0

In [26]:
df_event_in_jo2 = df_event_in_jo.iloc[:,6:]
df_event_in_jo2 = pd.concat([df_event_in_jo['nom'], df_event_in_jo2], axis=1)
df_event_in_jo2.head()

,nom,Mercredi 24 Juillet 2024,Jeudi 25 Juillet 2024,Vendredi 26 Juillet 2024,Samedi 27 Juillet 2024,Dimanche 28 Juillet 2024,Lundi 29 Juillet 2024,Mardi 30 Juillet 2024,Mercredi 31 Juillet 2024,Jeudi 01 Ao�t 2024,Vendredi 02 Ao�t 2024,Samedi 03 Ao�t 2024,Dimanche 04 Ao�t 2024,Lundi 05 Ao�t 2024,Mardi 06 Ao�t 2024,Mercredi 07 Ao�t 2024,Jeudi 08 Ao�t 2024,Vendredi 09 Ao�t 2024,Samedi 10 Ao�t 2024,Dimanche 11 Ao�t 2024
0,PARC DES PRINCES,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,STADE DE FRANCE,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,GRAND PALAIS,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
3,ARENA INVALIDES,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,STADE DE LA CONCORDE,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0

In [27]:
def new_name(site):
    if site == "ROLAND-GARROS":
        return "EVENT_RG"
    elif site == "PARC DES PRINCES":
        return "EVENT_PDP"
    elif site == "STADE DE FRANCE":
        return "EVENT_SDF"
    elif site == "GRAND PALAIS":
        return "EVENT_GP"
    elif site == "ARENA INVALIDES":
        return "EVENT_INV"
    elif site == "STADE DE LA CONCORDE":
        return "EVENT_CCD"
    elif site == "ARENA CHAMP DE MARS":
        return "EVENT_CDM"
    elif site == "STADE TOUR EIFFEL":
        return "EVENT_TEF"
    elif site == "ARENA PARIS SUD":
        return "EVENT_SUD"
    elif site == "ARENA LA CHAPELLE":
        return "EVENT_CHP"
    elif site == "ARENA BERCY":
        return "EVENT_BER"
    elif site == "STADE YVES DU MANOIR":
        return "EVENT_YDM"
    else:
        return 0


def num_month(month):
    if month == "Juillet":
        return "07"
    elif month == "Ao�t":
        return "08"
    else:
        return 0

In [28]:
df_event_in_jo2["nom"] = df_event_in_jo2["nom"].apply(lambda x: new_name(x))
df_event_in_jo2 = df_event_in_jo2.set_index('nom')
df_event_in_jo2 = df_event_in_jo2.T
df_event_in_jo2 = df_event_in_jo2.reset_index()
df_event_in_jo2["index"] = df_event_in_jo2["index"].apply(lambda x: x.split())
df_event_in_jo2["index"] = df_event_in_jo2["index"].apply(lambda x: x[-1:-4:-1])
df_event_in_jo2["index"] = df_event_in_jo2["index"].apply(lambda x: x[0] + "-" + num_month(x[1]) + "-" + x[2])
df_event_in_jo2 = df_event_in_jo2.rename(columns={"index" : 'ds'})
df_event_in_jo2.head()

nom,ds,EVENT_PDP,EVENT_SDF,EVENT_GP,EVENT_INV,EVENT_CCD,EVENT_YDM,EVENT_CDM,EVENT_TEF,EVENT_RG,EVENT_SUD,EVENT_CHP,EVENT_BER
0,2024-07-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-07-25,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2024-07-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-07-27,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,2024-07-28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [29]:
juillet = []
for i in range(23):
    juillet.append("2024-07-" + str(["0" + str(i+1) if (i+1) < 10 else str(i+1)][0]))
df_juillet = pd.DataFrame(juillet, columns=['ds'])
for el in df_event_in_jo2.columns[1:]:
    df_juillet[el] = 0
df_juillet.head()

,ds,EVENT_PDP,EVENT_SDF,EVENT_GP,EVENT_INV,EVENT_CCD,EVENT_YDM,EVENT_CDM,EVENT_TEF,EVENT_RG,EVENT_SUD,EVENT_CHP,EVENT_BER
0,2024-07-01,0,0,0,0,0,0,0,0,0,0,0,0
1,2024-07-02,0,0,0,0,0,0,0,0,0,0,0,0
2,2024-07-03,0,0,0,0,0,0,0,0,0,0,0,0
3,2024-07-04,0,0,0,0,0,0,0,0,0,0,0,0
4,2024-07-05,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
aout = []
for i in range(31-11):
    aout.append("2024-08-" + str(i+12))
df_aout = pd.DataFrame(aout, columns=['ds'])
for el in df_event_in_jo2.columns[1:]:
    df_aout[el] = 0
df_aout.head()

,ds,EVENT_PDP,EVENT_SDF,EVENT_GP,EVENT_INV,EVENT_CCD,EVENT_YDM,EVENT_CDM,EVENT_TEF,EVENT_RG,EVENT_SUD,EVENT_CHP,EVENT_BER
0,2024-08-12,0,0,0,0,0,0,0,0,0,0,0,0
1,2024-08-13,0,0,0,0,0,0,0,0,0,0,0,0
2,2024-08-14,0,0,0,0,0,0,0,0,0,0,0,0
3,2024-08-15,0,0,0,0,0,0,0,0,0,0,0,0
4,2024-08-16,0,0,0,0,0,0,0,0,0,0,0,0

In [31]:
event_jo = pd.concat([df_juillet, df_event_in_jo2, df_aout], axis=0, ignore_index=True)
for el in event_jo.columns[1:]:
    event_jo[el] = event_jo[el].apply(lambda x: int(x))
event_jo = event_jo.set_index('ds')
event_jo.to_csv('99-Data_Clean/event_jo.csv')
event_jo

,EVENT_PDP,EVENT_SDF,EVENT_GP,EVENT_INV,EVENT_CCD,EVENT_YDM,EVENT_CDM,EVENT_TEF,EVENT_RG,EVENT_SUD,EVENT_CHP,EVENT_BER
ds,,,,,,,,,,,,
2024-07-01,0,0,0,0,0,0,0,0,0,0,0,0
2024-07-02,0,0,0,0,0,0,0,0,0,0,0,0
2024-07-03,0,0,0,0,0,0,0,0,0,0,0,0
2024-07-04,0,0,0,0,0,0,0,0,0,0,0,0
2024-07-05,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-27,0,0,0,0,0,0,0,0,0,0,0,0
2024-08-28,0,0,0,0,0,0,0,0,0,0,0,0
2024-08-29,0,0,0,0,0,0,0,0,0,0,0,0
2024-08-30,0,0,0,0,0,0,0,0,0,0,0,0
2024-08-31,0,0,0,0,0,0,0,0,0,0,0,0

### Competition per site

In [32]:
def old_name(site):
    if site == "EVENT_RG":
        return "ROLAND-GARROS"
    elif site == "EVENT_PDP":
        return "PARC DES PRINCES"
    elif site == "EVENT_SDF":
        return "STADE DE FRANCE"
    elif site == "EVENT_GP":
        return "GRAND PALAIS"
    elif site == "EVENT_INV":
        return "ARENA INVALIDES"
    elif site == "EVENT_CCD":
        return "STADE DE LA CONCORDE"
    elif site == "EVENT_CDM":
        return "ARENA CHAMP DE MARS"
    elif site == "EVENT_TEF":
        return "STADE TOUR EIFFEL"
    elif site == "EVENT_SUD":
        return "ARENA PARIS SUD"
    elif site == "EVENT_CHP":
        return "ARENA LA CHAPELLE"
    elif site == "EVENT_BER":
        return "ARENA BERCY"
    else:
        return 0

In [33]:
event_jo2 = event_jo.reset_index()
compt = pd.DataFrame(columns=['ds', 'site', 'competition'])
for el in event_jo2.columns[1:]:
    temp_df = event_jo2[['ds', el]]
    temp_df['site'] = el
    temp_df['competition'] = temp_df[el]
    temp_df = temp_df.drop(el, axis=1)
    compt = pd.concat([compt, temp_df], axis=0)
compt = compt[compt['site'] != 'EVENT_YDM']
compt['site'] = compt['site'].apply(lambda x: old_name(x))
compt['competition'] = compt['competition'].apply(lambda x: 'Pas de compétition' if x == 0 else "Compet")
compt.head()

/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['site'] = el
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3788751298.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['competition'] = temp_df[el]

           ds              site         competition
0  2024-07-01  PARC DES PRINCES  Pas de compétition
1  2024-07-02  PARC DES PRINCES  Pas de compétition
2  2024-07-03  PARC DES PRINCES  Pas de compétition
3  2024-07-04  PARC DES PRINCES  Pas de compétition
4  2024-07-05  PARC DES PRINCES  Pas de compétition

In [34]:
compt_2 = compt.merge(df_event_in_jo, left_on='site', right_on='nom', how='inner')
compt_2 = compt_2.iloc[:,:7].drop(['nom', 'sites_olympiques_paralympiques'], axis=1)
compt_2['geo_point'] = compt_2['geo_point'].apply(lambda x: x.split(","))
compt_2['lat'] = compt_2['geo_point'].apply(lambda x: x[0])
compt_2['lng'] = compt_2['geo_point'].apply(lambda x: x[1])
compt_2 = compt_2.drop('geo_point', axis=1)
test_compet = []
for i in range(len(compt_2['competition'])):
    if compt_2['competition'][i] == 'Pas de compétition':
        test_compet.append('Pas de compétition')
    else:
        test_compet.append(compt_2['sports'][i])
compt_2['test_compet'] = test_compet
compt_2

,ds,site,competition,sports,lat,lng,test_compet
0,2024-07-01,PARC DES PRINCES,Pas de compétition,Football,48.841319,2.253076,Pas de compétition
1,2024-07-02,PARC DES PRINCES,Pas de compétition,Football,48.841319,2.253076,Pas de compétition
2,2024-07-03,PARC DES PRINCES,Pas de compétition,Football,48.841319,2.253076,Pas de compétition
3,2024-07-04,PARC DES PRINCES,Pas de compétition,Football,48.841319,2.253076,Pas de compétition
4,2024-07-05,PARC DES PRINCES,Pas de compétition,Football,48.841319,2.253076,Pas de compétition
...,...,...,...,...,...,...,...
677,2024-08-27,ARENA BERCY,Pas de compétition,"Basketball, Basket fauteuil, Gymnastique artis...",48.838649,2.378496,Pas de compétition
678,2024-08-28,ARENA BERCY,Pas de compétition,"Basketball, Basket fauteuil, Gymnastique artis...",48.838649,2.378496,Pas de compétition
679,2024-08-29,ARENA BERCY,Pas de compétition,"Basketball, Basket fauteuil, Gymnastique artis...",48.838649,2.378496,Pas de compétition
680,2024-08-30,ARENA BERCY,Pas de compétition,"Basketball, Basket fauteuil, Gymnastique artis...",48.838649,2.378496,Pas de compétition
681,2024-08-31,ARENA BERCY,Pas de compétition,"Basketball, Basket fauteuil, Gymnastique artis...",48.838649,2.378496,Pas de compétition

In [35]:
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE TOUR EIFFEL")] = "Volleyball de plage"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA CHAMP DE MARS") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-08-04')] = "Judo"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA CHAMP DE MARS") & 
                        (compt_2['ds'] > '2024-08-04') & (compt_2['ds'] < '2024-08-12')] = "Lutte"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "GRAND PALAIS") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-08-05')] = "Escrime"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "GRAND PALAIS") & 
                        (compt_2['ds'] > '2024-08-06') & (compt_2['ds'] < '2024-08-11')] = "Taekwondo"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA INVALIDES") & 
                        (compt_2['ds'] > '2024-07-27') & (compt_2['ds'] < '2024-08-05')] = "Tir à l'arc"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA INVALIDES") & 
                        (compt_2['ds'] == '2024-07-25')] = "Tir à l'arc"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA INVALIDES") & 
                        (compt_2['ds'] == '2024-07-27')] = "Cyclisme sur route (contre-la-montre individuels)"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE LA CONCORDE") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-07-29')] = "Skateboard - Street"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE LA CONCORDE") & 
                        (compt_2['ds'] > '2024-07-29') & (compt_2['ds'] < '2024-08-01')] = "Basketball 3 contre 3, BMX freestyle"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE LA CONCORDE") & 
                        (compt_2['ds'] > '2024-07-31') & (compt_2['ds'] < '2024-08-06')] = "Basketball 3 contre 3"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE LA CONCORDE") & 
                        (compt_2['ds'] > '2024-08-05') & (compt_2['ds'] < '2024-08-08')] = "Skateboard - Park"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE LA CONCORDE") & 
                        (compt_2['ds'] > '2024-08-08') & (compt_2['ds'] < '2024-08-11')] = "Breaking"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ROLAND-GARROS") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-08-05')] = "Tennis"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ROLAND-GARROS") & 
                        (compt_2['ds'] > '2024-08-05') & (compt_2['ds'] < '2024-08-11')] = "Boxe"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA PARIS SUD") & 
                        (compt_2['ds'] == '2024-07-25')] = "Handball (phase préliminaire)"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA PARIS SUD") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-08-05')] = "Volleyball, Tennis de Table, Handball (phase préliminaire)"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA PARIS SUD") & 
                        (compt_2['ds'] > '2024-08-04') & (compt_2['ds'] < '2024-08-07')] = "Volleyball, Tennis de Table"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA PARIS SUD") & 
                        (compt_2['ds'] > '2024-08-06') & (compt_2['ds'] < '2024-08-11')] = "Volleyball, Tennis de Table, Haltérophilie"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA PARIS SUD") & 
                        (compt_2['ds'] == '2024-08-11')] = "Haltérophilie"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA BERCY") & 
                        (compt_2['ds'] == '2024-08-02')] = "Gymnastique trampoline"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA BERCY") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-08-03')] = "Gymnastique artistique"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA BERCY") & 
                        (compt_2['ds'] > '2024-08-02') & (compt_2['ds'] < '2024-08-06')] = "Gymnastique artistique"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA BERCY") & 
                        (compt_2['ds'] > '2024-08-05') & (compt_2['ds'] < '2024-08-12')] = "Basketball (phase finale)"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA LA CHAPELLE") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-08-06')] = "Badminton"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "ARENA LA CHAPELLE") & 
                        (compt_2['ds'] > '2024-08-07') & (compt_2['ds'] < '2024-08-11')] = "Gymnastique rythmique"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE FRANCE") & 
                        (compt_2['ds'] > '2024-07-23') & (compt_2['ds'] < '2024-07-26')] = "Rugby"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE FRANCE") & 
                        (compt_2['ds'] > '2024-07-26') & (compt_2['ds'] < '2024-07-31')] = "Rugby"
compt_2["test_compet"][(compt_2['competition'] != "Pas de compétition") & (compt_2['site'] == "STADE DE FRANCE") & 
                        (compt_2['ds'] > '2024-08-01') & (compt_2['ds'] < '2024-08-11')] = "Athlétisme"

In [36]:
compt_2['competition'] = compt_2['test_compet']
compt_2 = compt_2.drop(['sports', 'test_compet'], axis=1)
compt_2 = compt_2.sort_values(by=['ds']).reset_index().drop('index', axis=1)
compt_2['ds'] = compt_2['ds'].apply(lambda x: x.split('-'))
compt_2['ds'] = compt_2['ds'].apply(lambda x: x[2] + "/" + x[1] + "/" + x[0])
compt_2 = compt_2.set_index('ds')
compt_2.to_csv('99-Data_Clean/compet_par_site.csv')
compt_2.head()

                         site         competition        lat       lng
ds
01/07/2024   PARC DES PRINCES  Pas de compétition  48.841319  2.253076
01/07/2024      ROLAND-GARROS  Pas de compétition   48.84732  2.245501
01/07/2024    STADE DE FRANCE  Pas de compétition  48.924388  2.359871
01/07/2024        ARENA BERCY  Pas de compétition  48.838649  2.378496
01/07/2024  ARENA LA CHAPELLE  Pas de compétition  48.899483  2.361803

### Sites et stations geoloc

In [37]:
station = pd.read_csv('02-Sites-Stations-Calendar/station_geoloc.csv', delimiter=";")
station['type'] = 'station'
station = station[['lieu','type','lat','lng']]
station.head()

                          lieu     type        lat       lng
0  STADE DE FRANCE-SAINT-DENIS  station  48.917812  2.351067
1   SAINT-DENIS-PORTE DE PARIS  station  48.929499  2.356273
2    LA PLAINE-STADE DE FRANCE  station  48.918107  2.362326
3             BOULEVARD VICTOR  station  48.839364  2.270485
4              PORTE D'AUTEUIL  station  48.847677  2.257985

In [38]:
site_olympique = df_event_in_jo[['nom', 'geo_point', 'capacite']]
site_olympique['geo_point'] = site_olympique['geo_point'].apply(lambda x: x.split(","))
site_olympique['lat'] = site_olympique['geo_point'].apply(lambda x: x[0])
site_olympique['lng'] = site_olympique['geo_point'].apply(lambda x: x[1])
site_olympique = site_olympique.drop('geo_point', axis=1)
site_olympique['type'] = 'site'
site_olympique = site_olympique.rename(columns={'nom':'lieu'})
site_olympique = site_olympique[['lieu','type','lat','lng', 'capacite']]
site_olympique['capacite'] = site_olympique['capacite'].apply(lambda x: int(x))
site_olympique.head()

/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/26069860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  site_olympique['geo_point'] = site_olympique['geo_point'].apply(lambda x: x.split(","))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/26069860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  site_olympique['lat'] = site_olympique['geo_point'].apply(lambda x: x[0])
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/26069860.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  site_olympique['lng'] = site_olympique['geo_point'].apply(lambda x: x[1])

                   lieu  type        lat       lng  capacite
0      PARC DES PRINCES  site  48.841319  2.253076     47926
1       STADE DE FRANCE  site  48.924388  2.359871     77083
2          GRAND PALAIS  site  48.866041  2.312406      8000
3       ARENA INVALIDES  site  48.862286  2.313222      8000
4  STADE DE LA CONCORDE  site  48.865589  2.321205     30000

In [39]:
geoloc_jo = pd.concat([site_olympique, station], axis=0)
geoloc_jo = geoloc_jo.set_index('lieu')
geoloc_jo.to_csv('99-Data_Clean/geoloc_jo.csv')
geoloc_jo.head()

                      type        lat       lng  capacite
lieu
PARC DES PRINCES      site  48.841319  2.253076   47926.0
STADE DE FRANCE       site  48.924388  2.359871   77083.0
GRAND PALAIS          site  48.866041  2.312406    8000.0
ARENA INVALIDES       site  48.862286  2.313222    8000.0
STADE DE LA CONCORDE  site  48.865589  2.321205   30000.0

### Geoloc with station capacity

In [40]:
geo_jo_org = pd.read_csv('99-Data_Clean/geoloc_jo.csv')
geo_jo = geo_jo_org.loc[geo_jo_org['type']=='station']
geo_jo = geo_jo.reset_index().drop(axis=1, columns='index')
liste_station = list(geo_jo['lieu'])
liste_station

['STADE DE FRANCE-SAINT-DENIS',
 'SAINT-DENIS-PORTE DE PARIS',
 'LA PLAINE-STADE DE FRANCE',
 'BOULEVARD VICTOR',
 "PORTE D'AUTEUIL",
 'PORTE DE SAINT-CLOUD',
 'FRANKLIN-D.ROOSEVELT',
 'INVALIDES',
 'PALAIS ROYAL-MUSEE DU LOUVRE',
 'MADELEINE',
 'OPERA',
 'AUBER',
 "MUSEE D'ORSAY",
 'CHAMP DE MARS-TOUR EIFFEL',
 'LA MOTTE-PICQUET-GRENELLE',
 'SEGUR',
 'PORTE DE VERSAILLES',
 'BALARD',
 'PORTE DE VANVES',
 'PORTE DE LA CHAPELLE',
 'ROSA PARKS',
 'BERCY',
 'GARE DE LYON',
 "PONT DE L'ALMA",
 'BIR-HAKEIM (GRENELLE)',
 'ALMA-MARCEAU']

In [41]:
liste_moy = []
liste_std = []
liste_satur = []
data_org = pd.read_csv("99-Data_Clean/data_concatenaited.csv")

/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/2741291926.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data_org = pd.read_csv("99-Data_Clean/data_concatenaited.csv")

In [42]:
for station in liste_station:
    mask = (data_org['LIBELLE_ARRET'] == station)
    data = data_org.loc[mask]
    data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
    data = data.sort_values(by='JOUR', ascending=True)
    data['NB_VALD'] = data['NB_VALD'].apply(lambda x: 5 if x == 'Moins de 5' else x)
    data['NB_VALD'] = data['NB_VALD'].apply(lambda x: int(x))
    mask_years=(data['JOUR'].dt.year<2020)
    data=data.loc[mask_years]
    data = data[['JOUR','NB_VALD']]
    data = data.groupby(['JOUR']).sum()
    data = data.reset_index()
    
    mean_data = data['NB_VALD'].mean()
    std_data = data['NB_VALD'].std()
    max_data = mean_data + (std_data * (1.5))
    
    liste_moy.append(int(mean_data))
    liste_std.append(int(std_data))
    liste_satur.append(int(max_data))

/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['JOUR'] = data['JOUR'].apply(lambda x: pd.to_datetime(x))
/var/folders/5n/p64q8ht13qzd7qbp48cbvk880000gn/T/ipykernel_87987/3790727965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
print(liste_moy)
print(liste_std)
print(liste_satur)

[9865, 9294, 13718, 2338, 1169, 10865, 18459, 8935, 13088, 16247, 20820, 13165, 2225, 3704, 15909, 3233, 11126, 11678, 10593, 6221, 10158, 10765, 84578, 2928, 9182, 7204]
[6513, 2975, 5798, 1394, 532, 4109, 6515, 4071, 3817, 6713, 7713, 6868, 1367, 2501, 5609, 1409, 4359, 5986, 3814, 1677, 5022, 2836, 29479, 1749, 3608, 2510]
[19636, 13758, 22415, 4430, 1968, 17029, 28232, 15041, 18815, 26317, 32390, 23468, 4276, 7457, 24323, 5347, 17665, 20658, 16316, 8737, 17691, 15019, 128797, 5553, 14595, 10970]

In [44]:
df = pd.DataFrame(list(zip(liste_station, liste_moy, liste_std, liste_satur)), columns=["Station", "Mean", "Std", "Saturation"])
df

                         Station   Mean    Std  Saturation
0    STADE DE FRANCE-SAINT-DENIS   9865   6513       19636
1     SAINT-DENIS-PORTE DE PARIS   9294   2975       13758
2      LA PLAINE-STADE DE FRANCE  13718   5798       22415
3               BOULEVARD VICTOR   2338   1394        4430
4                PORTE D'AUTEUIL   1169    532        1968
5           PORTE DE SAINT-CLOUD  10865   4109       17029
6           FRANKLIN-D.ROOSEVELT  18459   6515       28232
7                      INVALIDES   8935   4071       15041
8   PALAIS ROYAL-MUSEE DU LOUVRE  13088   3817       18815
9                      MADELEINE  16247   6713       26317
10                         OPERA  20820   7713       32390
11                         AUBER  13165   6868       23468
12                 MUSEE D'ORSAY   2225   1367        4276
13     CHAMP DE MARS-TOUR EIFFEL   3704   2501        7457
14     LA MOTTE-PICQUET-GRENELLE  15909   5609       24323
15                         SEGUR   3233   1409        5347
16           PORTE DE VERSAILLES  11126   4359       17665
17                        BALARD  11678   5986       20658
18               PORTE DE VANVES  10593   3814       16316
19          PORTE DE LA CHAPELLE   6221   1677        8737
20                    ROSA PARKS  10158   5022       17691
21                         BERCY  10765   2836       15019
22                  GARE DE LYON  84578  29479      128797
23                PONT DE L'ALMA   2928   1749        5553
24         BIR-HAKEIM (GRENELLE)   9182   3608       14595
25                  ALMA-MARCEAU   7204   2510       10970

In [45]:
geo_jo['capacite'] = df['Saturation']
geo_jo

                            lieu     type        lat       lng  capacite
0    STADE DE FRANCE-SAINT-DENIS  station  48.917812  2.351067     19636
1     SAINT-DENIS-PORTE DE PARIS  station  48.929499  2.356273     13758
2      LA PLAINE-STADE DE FRANCE  station  48.918107  2.362326     22415
3               BOULEVARD VICTOR  station  48.839364  2.270485      4430
4                PORTE D'AUTEUIL  station  48.847677  2.257985      1968
5           PORTE DE SAINT-CLOUD  station  48.838012  2.256993     17029
6           FRANKLIN-D.ROOSEVELT  station  48.869126  2.309661     28232
7                      INVALIDES  station  48.862018  2.314496     15041
8   PALAIS ROYAL-MUSEE DU LOUVRE  station  48.862362  2.336495     18815
9                      MADELEINE  station  48.870250  2.325439     26317
10                         OPERA  station  48.870858  2.332076     32390
11                         AUBER  station  48.872393  2.329681     23468
12                 MUSEE D'ORSAY  station  48.860570  2.325451      4276
13     CHAMP DE MARS-TOUR EIFFEL  station  48.855093  2.288920      7457
14     LA MOTTE-PICQUET-GRENELLE  station  48.848739  2.298832     24323
15                         SEGUR  station  48.847104  2.307204      5347
16           PORTE DE VERSAILLES  station  48.832506  2.287716     17665
17                        BALARD  station  48.836357  2.277166     20658
18               PORTE DE VANVES  station  48.827489  2.305797     16316
19          PORTE DE LA CHAPELLE  station  48.898125  2.358791      8737
20                    ROSA PARKS  station  48.896402  2.373655     17691
21                         BERCY  station  48.839132  2.382585     15019
22                  GARE DE LYON  station  48.844294  2.374249    128797
23                PONT DE L'ALMA  station  48.862514  2.300916      5553
24         BIR-HAKEIM (GRENELLE)  station  48.853908  2.289197     14595
25                  ALMA-MARCEAU  station  48.864844  2.301599     10970

In [46]:
geo_jo_org = pd.read_csv('99-Data_Clean/geoloc_jo.csv')
geo_site = geo_jo_org.loc[geo_jo_org['type']=='site']
geo_site = geo_site.reset_index().drop(axis=1, columns='index')
geo_site

                    lieu  type        lat       lng  capacite
0       PARC DES PRINCES  site  48.841319  2.253076   47926.0
1        STADE DE FRANCE  site  48.924388  2.359871   77083.0
2           GRAND PALAIS  site  48.866041  2.312406    8000.0
3        ARENA INVALIDES  site  48.862286  2.313222    8000.0
4   STADE DE LA CONCORDE  site  48.865589  2.321205   30000.0
5   STADE YVES DU MANOIR  site  48.930873  2.249836   15000.0
6    ARENA CHAMP DE MARS  site  48.854536  2.300413    8356.0
7      STADE TOUR EIFFEL  site  48.857232  2.296084   12860.0
8          ROLAND-GARROS  site  48.847320  2.245501   34000.0
9        ARENA PARIS SUD  site  48.832068  2.284126   26450.0
10     ARENA LA CHAPELLE  site  48.899483  2.361803    7000.0
11           ARENA BERCY  site  48.838649  2.378496   15000.0

In [47]:
geoloc_jo24 = pd.concat([geo_jo, geo_site], ignore_index=True)
geoloc_jo24

                            lieu     type        lat       lng  capacite
0    STADE DE FRANCE-SAINT-DENIS  station  48.917812  2.351067   19636.0
1     SAINT-DENIS-PORTE DE PARIS  station  48.929499  2.356273   13758.0
2      LA PLAINE-STADE DE FRANCE  station  48.918107  2.362326   22415.0
3               BOULEVARD VICTOR  station  48.839364  2.270485    4430.0
4                PORTE D'AUTEUIL  station  48.847677  2.257985    1968.0
5           PORTE DE SAINT-CLOUD  station  48.838012  2.256993   17029.0
6           FRANKLIN-D.ROOSEVELT  station  48.869126  2.309661   28232.0
7                      INVALIDES  station  48.862018  2.314496   15041.0
8   PALAIS ROYAL-MUSEE DU LOUVRE  station  48.862362  2.336495   18815.0
9                      MADELEINE  station  48.870250  2.325439   26317.0
10                         OPERA  station  48.870858  2.332076   32390.0
11                         AUBER  station  48.872393  2.329681   23468.0
12                 MUSEE D'ORSAY  station  48.860570  2.325451    4276.0
13     CHAMP DE MARS-TOUR EIFFEL  station  48.855093  2.288920    7457.0
14     LA MOTTE-PICQUET-GRENELLE  station  48.848739  2.298832   24323.0
15                         SEGUR  station  48.847104  2.307204    5347.0
16           PORTE DE VERSAILLES  station  48.832506  2.287716   17665.0
17                        BALARD  station  48.836357  2.277166   20658.0
18               PORTE DE VANVES  station  48.827489  2.305797   16316.0
19          PORTE DE LA CHAPELLE  station  48.898125  2.358791    8737.0
20                    ROSA PARKS  station  48.896402  2.373655   17691.0
21                         BERCY  station  48.839132  2.382585   15019.0
22                  GARE DE LYON  station  48.844294  2.374249  128797.0
23                PONT DE L'ALMA  station  48.862514  2.300916    5553.0
24         BIR-HAKEIM (GRENELLE)  station  48.853908  2.289197   14595.0
25                  ALMA-MARCEAU  station  48.864844  2.301599   10970.0
26              PARC DES PRINCES     site  48.841319  2.253076   47926.0
27               STADE DE FRANCE     site  48.924388  2.359871   77083.0
28                  GRAND PALAIS     site  48.866041  2.312406    8000.0
29               ARENA INVALIDES     site  48.862286  2.313222    8000.0
30          STADE DE LA CONCORDE     site  48.865589  2.321205   30000.0
31          STADE YVES DU MANOIR     site  48.930873  2.249836   15000.0
32           ARENA CHAMP DE MARS     site  48.854536  2.300413    8356.0
33             STADE TOUR EIFFEL     site  48.857232  2.296084   12860.0
34                 ROLAND-GARROS     site  48.847320  2.245501   34000.0
35               ARENA PARIS SUD     site  48.832068  2.284126   26450.0
36             ARENA LA CHAPELLE     site  48.899483  2.361803    7000.0
37                   ARENA BERCY     site  48.838649  2.378496   15000.0

In [48]:
geoloc_jo24.to_csv('99-Data_Clean/geoloc_jo24.csv', index=False)

### Scraping past events in existing sites

##### Parc des princes

In [49]:
file = open("03-Scraping_Past_Event_in_existing_Site/Scrap_pdp/src/past_events_pdp.json")
results = json.load(file)
results[:3]

[{'date': None, 'place': None, 'affluence': None},
 {'date': 'So. 18.01.15                                    ',
  'place': 'D',
  'affluence': '45.561'},
 {'date': None, 'place': None, 'affluence': None}]

In [50]:
df_pdp = pd.DataFrame(results)
df_pdp.describe(include='all')

                                                    date place affluence
count                                                205   205       204
unique                                               205     1       156
top     So. 18.01.15                                         D         X
freq                                                   1   205        25

In [51]:
df_pdp['affluence'][282] = '39.123'
df_pdp['affluence'] = df_pdp['affluence'].apply(lambda x: x if x != 'X' else '0')
df_pdp = df_pdp.dropna().reset_index()
df_pdp = df_pdp.drop(axis=0, columns='index')
df_pdp.head()

                                               date place affluence
0  So. 18.01.15                                         D    45.561
1  Mi. 21.01.15                                         D    40.000
2  Fr. 30.01.15                                         D    44.955
3  Mi. 11.02.15                                         D    35.000
4  Sa. 14.02.15                                         D    45.571

In [52]:
df_pdp['affluence'] = df_pdp['affluence'].apply(lambda x: "".join(x.split(".")))
df_pdp['affluence'] = df_pdp['affluence'].astype('int')
df_pdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       205 non-null    object
 1   place      205 non-null    object
 2   affluence  205 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.9+ KB

In [53]:
pdp_mean = df_pdp['affluence'].mean()
pdp_std = df_pdp['affluence'].std()
mask = ((df_pdp['affluence'] > (pdp_mean - (2 * pdp_std))) & (df_pdp['affluence'] < (pdp_mean + (2 * pdp_std))))
df_pdp = df_pdp.loc[mask]
df_pdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 204
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       174 non-null    object
 1   place      174 non-null    object
 2   affluence  174 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.4+ KB

In [54]:
df_pdp['datestamp'] = df_pdp['date'].apply(lambda x: x.split('.')[1:])
df_pdp['datestamp'] = df_pdp['datestamp'].apply(lambda x: '20' + x[2] + "-" + x[1] + "-" + x[0])
df_pdp['datestamp'] = df_pdp['datestamp'].apply(lambda x: pd.to_datetime(x))
df_pdp.head()

,date,place,affluence,datestamp
0,So. 18.01.15,D,45561,2015-01-18
1,Mi. 21.01.15,D,40000,2015-01-21
2,Fr. 30.01.15,D,44955,2015-01-30
3,Mi. 11.02.15,D,35000,2015-02-11
4,Sa. 14.02.15,D,45571,2015-02-14

In [55]:
df_pdp.to_csv('99-Data_Clean/df_pdp.csv', index=False)

##### Stade de France

In [56]:
file = open("03-Scraping_Past_Event_in_existing_Site/Scrap_sdf/src/past_events_sdf.json")
results = json.load(file)
results[:3]

[{'event_name': '\n              La Voie Royale de Saint-Denis 2023\n            ',
  'date': '\n            Dimanche 05 novembre 2023\n          ',
  'event_description': '\n              \n            '},
 {'event_name': '\n              FRANCE vs AUSTRALIE 2023\n            ',
  'date': '\n            Dimanche 27 août 2023\n          ',
  'event_description': '\n              Match de préparation à la Coupe du Monde\n            '},
 {'event_name': '\n              THE WEEKND 2 2023\n            ',
  'date': '\n            Dimanche 30 juillet 2023\n          ',
  'event_description': '\n              After Hours til Dawn\n            '}]

In [57]:
df_sdf = pd.DataFrame(results)
df_sdf['event_name'] = df_sdf['event_name'].apply(lambda x: " ".join(x.split()))
df_sdf['date'] = df_sdf['date'].apply(lambda x: " ".join(x.split()))
df_sdf['event_description'] = df_sdf['event_description'].apply(lambda x: " ".join(x.split()))
df_sdf.head()

,event_name,date,event_description
0,La Voie Royale de Saint-Denis 2023,Dimanche 05 novembre 2023,
1,FRANCE vs AUSTRALIE 2023,Dimanche 27 août 2023,Match de préparation à la Coupe du Monde
2,THE WEEKND 2 2023,Dimanche 30 juillet 2023,After Hours til Dawn
3,THE WEEKND 2023,Samedi 29 juillet 2023,After Hours til Dawn
4,Rammstein,Samedi 22 juillet 2023,

In [58]:
def month_fr(x):
    if x == 'janvier':
        return '01'
    if x == 'février':
        return '02'
    if x == 'mars':
        return '03'
    if x == 'avril':
        return '04'
    if x == 'mai':
        return '05'
    if x == 'juin':
        return '06'
    if x == 'juillet':
        return '07'
    if x == 'août':
        return '08'
    if x == 'septembre':
        return '09'
    if x == 'octobre':
        return '10'
    if x == 'novembre':
        return '11'
    else:
        return '12'

In [59]:
df_sdf['datestamp'] = df_sdf['date'].apply(lambda x: x.split()[1:])
df_sdf['datestamp'] = df_sdf['datestamp'].apply(lambda x: x[2] + "-" + month_fr(x[1]) + "-" + x[0])
df_sdf['datestamp'] = df_sdf['datestamp'].apply(lambda x: pd.to_datetime(x))
df_sdf.head()

,event_name,date,event_description,datestamp
0,La Voie Royale de Saint-Denis 2023,Dimanche 05 novembre 2023,,2023-11-05
1,FRANCE vs AUSTRALIE 2023,Dimanche 27 août 2023,Match de préparation à la Coupe du Monde,2023-08-27
2,THE WEEKND 2 2023,Dimanche 30 juillet 2023,After Hours til Dawn,2023-07-30
3,THE WEEKND 2023,Samedi 29 juillet 2023,After Hours til Dawn,2023-07-29
4,Rammstein,Samedi 22 juillet 2023,,2023-07-22

In [60]:
df_sdf.to_csv('99-Data_Clean/df_sdf.csv', index=False)

##### Roland Garros

In [61]:
df_rg = pd.read_csv("03-Scraping_Past_Event_in_existing_Site/Data_rg/df_rg.csv")

In [62]:
df_rg.to_csv('99-Data_Clean/df_rg.csv', index=False)